body{
    margin: 0;
    padding: 0;
    background-image: url(background.png);
    -webkit-background-size: cover;
    background-size: cover;
    font-family: Poppins;

}
.wrapper{
    width: 500px;   
    height: 400px;
    color:rgb(248, 218, 218);
    top: 50%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px rgb(80, 65, 65);
    background: rgba(226, 187, 187, 0.7);
}

h1{
    margin:0;
    padding: 0;
    font-weight:bold;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-bottom: 8%;
    font-family: Courgette;
}
.form-inline{
    align: center;
}

.form-inline label{
    width: 120px;
    display: inline-block;
    color:rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
}
.custom-duration label{
    width: 55px;
    float: left;
    margin-left: 48px;
    margin-top: 9px;
}

.wrapper input[type=text], select, input[type=number]{
    font-size: 13px;
    width: 50%;
    margin-bottom: 16px;
    margin-top: 6px;
    padding: 5px;
    border: 1 px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background: rgb(245, 237, 237);
    height: 34px;
    opacity: 1;
    color: rgb(66, 64, 64);
}
.Date{
    float: left;
    margin-left: 48px;
    margin-top: 5px;
    
}
.wrapper input[type=date]{
    border: 1 px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgb(245, 237, 237);
    color: rgb(66, 64, 64);
    padding-left: 0.3em;

}

.wrapper input[type=submit]{
    margin-left: 40px;
    margin-top: 90px;
    border: none;
    outline: none;
    width: 70px;
    height: 40px;
    background: #4b4345;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.wrapper input[type=submit]:hover{
    cursor: pointer;
}

.custom-duration{
    float: left;
    margin-left: 2px;
    margin-top: 5px;
}
.custom-duration input[type=number]{
    font-size: 13px;
    width: 15%;
    margin-bottom: 20px;
    padding: 5px;
    border: 1 px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background: rgb(245, 237, 237);
    height: 30px;
    opacity: 1;
    color: rgb(66, 64, 64);
}

::placeholder{
    font-size: 12px;
    color: #ccc;
}

.popup{
    background: rgba(red, green, blue, alpha);
    width: 85%;
    height: 80%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content{
    height: 20px;
    width: 200px;
    background: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    display: flex;
}

.close{
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(close.png);
    background-color: transparent;
    background: transparent;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.wrapper a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}

.wrapper a:hover{
    color: #fff;
    opacity: 1;
}


#overlay-area{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    z-index: -5;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
}
